@model CuaHangThoiTrang.Models.SIZE

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tên Size:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tenS)
        </dd>

        <dt>
            Mô tả:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mota)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.maSize }) |
    @Html.ActionLink("Back to List", "Index")
</p>
