@{
    ViewBag.Title = "Home Page";
}
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width-device-width" />
        <title>Index</title>
    </head>
    <body>
        <h1>Đây là trang chủ người dùng</h1>
    </body>
</html>