
@{
    ViewBag.Title = "Thanhtoanmomo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="text-align : center">BẠN ĐÃ THANH TOÁN THÀNH CÔNG! </h2>

<div>
    @Html.ActionLink("Xem đơn hàng", "Index", "Dathang")
</div>